@media screen and (max-width:1000px){
    .Mi h2{
        font-size: 2.3em;
    }
}

@media screen and (max-width:1000px) {
    .contianer-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .article-img{
        display: flex;
        justify-content: center;
    }

    .contianer-info article img{
        height: 250px;
        width: 50%;
    }

    .contianer-info .article-p-light p,
    .contianer-info  .article-p-dark p{
        font-size: 1.2em;
    }
}



@media screen and (max-width:1030px) {
    .header-light,
    .header-dark{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 40em;
    }

    .nav-light .ul-light a,
    .nav-dark .ul-dark a{
        padding: .8em .5em;
    }
}


@media screen and (max-width:690px){
    .contianer-info article img{
        height: 190px;
    }

    .header-light,
    .header-dark{
        width: 10em;
        height: 3em;
    }

    .contianer-proyectos{
        overflow-y: auto;
    }
    .nav-light .ul-light,
    .nav-dark .ul-dark{
        display: none;
    }


    .nav-dark-selec{
        display: flex;
        position: relative;
        z-index: 3;
        height: 100%;
        width: 100%;
        border: none;
        outline: none;
        transition: all .5s;
    }
    .nav-dark-selec input{
        display: none;
    }
    .nav-dark-selec label{
        width: 100%;
        border-radius: 20px;
        border: none;
        color: white;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .ulSelect{
        display: none;
    }


    #check:checked ~ .ulSelect{
        height: 20em;
        position: fixed;
        bottom: 600px;
        backdrop-filter: blur(10px);
        right: 10px;
        border-radius: 30px;
        background-color: transparent;
        display: flex;
        border: 1px solid white;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 18em;
        padding: 0px 0px 0px 0px;
        margin: 0;
        top: 30px;
    }


    #check:checked ~ .ulSelect li{
        list-style: none;
        margin: 1em;
    }

    #check:checked ~ .ulSelect li a{
        color: white;
        text-decoration: none;
        transition: all .5s;
        padding: .8em .9em;
    }


    #check:checked ~ .ulSelect li a:hover{
        background-color: rgba(219, 218, 218, 0.219);
        border-radius: 10px;
        border-radius: 10px;
    }


    #check:checked ~ .ulSelect li .activo-ul{
        background-color: rgba(219, 218, 218, 0.219);
        border-radius: 10px;
        padding: .8em .9em;
        color: white;
        text-decoration: none;
        margin: 1em;
        list-style: none;
        cursor: pointer;
    }



    .contianer-tecnologias{
        margin-top: 10px;
    }


}

@media screen and (max-width:500px){
    .contianer-info .article-p-light p,
    .contianer-info .article-p-dark p{
        font-size: 1em;
    }

    .contianer-info article img,
    .contianer-info article img {
        height: 120px;
    }

    .BtonFlecha{
        display: flex;
    }


    .container-buttons{
        position: fixed;
        z-index: -1;
        bottom: 30px;
        left: 90px;
        display: flex;
        flex-direction: row;
        background-color:rgba(202, 202, 202, 0.315);
        border-radius: 10px;
        opacity: -1;
        animation: noMostrar .5s linear;
    }

    @keyframes noMostrar{
        0%{
            opacity: 1;
        }
        100%{
            opacity: -1;
        }
    }

    .container-buttons-flex{
        position: fixed;
        z-index: 1;
        bottom: 30px;
        left: 90px;
        display: flex;
        flex-direction: row;
        background-color:rgba(202, 202, 202, 0.315);
        border-radius: 10px;
        animation: mostrar .5s linear;
    }

    @keyframes mostrar {
        0%{
            transform: translateX(-300px);
        }
        100%{
            transform: translateX(0px);
        }
    }

    .container-buttons-flex a{
        margin: 1em 1.5em;
        background: rgba(136, 135, 130, 0.479);
        padding: .5em .8em;
        border-radius: 10px;
    }
}





/*--Habilidades-*/

@media screen and (max-width:1455px){
    .contianer-habilidades{
        position: relative;
    }
    .habilidades-dark,
    .habilidades-light{
        overflow-y: auto;
    }
}

@media screen and (max-width:700px){
    .habilidades-light div,
    .habilidades-dark div{
        width: 18em;
    }

    .habilidades-light div p,
    .habilidades-dark div p{
        font-size: 1em;
    }
}

@media screen and (max-width:450px){
    .habilidades-light div,
    .habilidades-dark div{
        width: 15em;
        position: relative;
        top: 10px;
    
    }
}

/*--Proyectos-*/



@media screen and (max-width:1300px){
    .article,
    .article-light {
        width: 60%;
    }
}


@media screen and (max-width:700px){
    .article,
    .article-light{
        width: 100%;
    }
}



@media screen and (max-width:480px){
    .article img,
    .article-light{
        height: 100%;
    }
}


/*--Contact-*/

@media screen and (min-width:700px) {
    .contact-wrapper{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .contact-wrapper > *{
        padding: 2em;
    }

    .contact-info h4,
    .contact-info .ul,
    .contact-info p{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        text-align: left;
        padding: 1em;
    }
}
@media screen and (max-width:700px){
    .contact-info,
    .contact-info-dark{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #contacto .contianer-contacto,
    .contianer-contacto-light{
        overflow-y: auto;
        margin-top: 7%;
        align-items: center;
        justify-content: normal;
    }
}

@media screen and (max-width:620px){
    .contact-info-dark,
    .contact-info{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .contact-info .ul,
    .contact-info-dark .ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}


    /*-ScrollBar--*/
    .contianer-contacto-light::-webkit-scrollbar,
    #contacto .contianer-contacto::-webkit-scrollbar,
    .contianer-Proyectos::-webkit-scrollbar,
    .habilidades-light::-webkit-scrollbar,
    .tecnologias::-webkit-scrollbar,
    .contianer-Proyectos-dark::-webkit-scrollbar,
    .tecnologias-light::-webkit-scrollbar,
    .habilidades-dark::-webkit-scrollbar{
        width: 8px; /* Ancho del scrollbar */
        height: 20%;
    }
    .contianer-contacto-light::-webkit-scrollbar-track,
    #contacto .contianer-contacto::-webkit-scrollbar-track,
    .contianer-Proyectos::-webkit-scrollbar-track
    .habilidades-light::-webkit-scrollbar-track,
    .tecnologias::-webkit-scrollbar-track,
    .contianer-Proyectos-dark::-webkit-scrollbar-track,
    .tecnologias-light::-webkit-scrollbar-track,
    .habilidades-dark::-webkit-scrollbar-track {
        background-color: transparent; /* Color del fondo del scrollbar */
    }

    .contianer-contacto-light::-webkit-scrollbar-thumb,
    #contacto .contianer-contacto::-webkit-scrollbar-thumb,
    .contianer-Proyectos::-webkit-scrollbar-thumb,
    .habilidades-light::-webkit-scrollbar-thumb,
    .tecnologias::-webkit-scrollbar-thumb,
    .contianer-Proyectos-dark::-webkit-scrollbar-thumb,
    .tecnologias-light::-webkit-scrollbar-thumb,
    .habilidades-dark::-webkit-scrollbar-thumb {
        background-color: white; /* Color del scrollbar */
        border-radius: 5px; /* Radio de borde del scrollbar */
    }


    #contacto .contianer-contacto::-webkit-scrollbar-thumb:hover,
    .habilidades-dark::-webkit-scrollbar-thumb:hover,
    .tecnologias::-webkit-scrollbar-thumb:hover,
    .contianer-Proyectos-dark::-webkit-scrollbar-thumb:hover{
        background-color: #1824d8; /* Color del scrollbar cuando se hace hover */
    }
    .contianer-contacto-light::-webkit-scrollbar-thumb:hover,
    .contianer-Proyectos::-webkit-scrollbar-thumb:hover,
    .tecnologias-light::-webkit-scrollbar-thumb:hover,
    .habilidades-light::-webkit-scrollbar-thumb:hover{
        background-color: #d8a109; /* Color del scrollbar cuando se hace hover */
    }

    /*--Tecnologias-*/


    @media screen and (max-width:690px){
        .tecnologias .div,
        .tecnologias-dark .div{
            margin: 1em 1em;
        }

        .header-light, .header-dark,
        .tecnologias-dark .div{
            margin-bottom: 2%;
        }
    }